@model IEnumerable<JobApplicationTracker.Models.JobListing>

@{
    ViewData["Title"] = "Job Search";
}

<div
    style="min-height: 100vh; background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);">
    <div class="container py-5">

        <div class="text-center text-white mt-5">
            <h1 class="display-3 fw-bold mb-3">
                Find Your Perfect Job
            </h1>
            <p class="lead mx-auto" style="max-width: 700px;">
                Search for jobs by title, location, or category and take your career to the next level.
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="get" asp-action="Search"
                    class="p-4 rounded-4 border border-white border-opacity-50 bg-white bg-opacity-25">
                    <div class="form-group mb-4">
                        <label for="SearchTerm" class="text-white">Search Term</label>
                        <input type="text" id="SearchTerm" name="searchTerm" class="form-control"
                            value="@ViewBag.SearchTerm" placeholder="e.g. Developer" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="Location" class="text-white">Location</label>
                        <input type="text" id="Location" name="location" class="form-control" value="@ViewBag.Location"
                            placeholder="e.g. Stockholm" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-light btn-lg rounded-pill px-5">
                            Search
                        </button>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="experienceNotRequired" value="true" checked="@(ViewBag.ExperienceNotRequired ?? false)">
                            <label class="form-check-label" for="flexCheckChecked">Experience not required</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (Model != null)
        {
        <div class="col-md-8 align-center mx-auto">
            @if (Model.Any())
            {
                <h3 class="text-white mt-5">Job Listings</h3>
            }
            <ul class="list-unstyled mt-4">
                @foreach (var job in Model)
                {
                    <li class="mb-4">
                        <div class="card shadow-sm border-light rounded-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="card-title">@job.Title</h4>
                                    @if (job.Description.Text.Length > 300)
                                    {
                                        @* <p class="card-text" id="expand-desc-@job.Id">
                                            <button class="btn btn-light p-0 chevron" onclick="toggleDesc('@job.Id')">›</button>
                                        </p>
                                        <p class="card-text" id="collapse-desc-@job.Id" style="display:none;">
                                            <button class="btn btn-light p-0 chevron rotated" onclick="toggleDesc('@job.Id')">›</button>
                                        </p> *@
                                        <span class="chevron" id="toggle-btn-@job.Id" onclick="toggleDesc('@job.Id')"><i class="bi bi-chevron-down"></i></span>
                                    }
                                </div>
                                <p class="card-text"><strong>@job.Employer.Name</strong></p>
                                @* <p class="card-text">@job.Description.Text</p> *@
                                @if (job.Description.Text.Length > 300)
                                {
                                    <p class="card-text" id="desc-@job.Id">
                                        @job.Description.Text.Substring(0, 300)...
                                    </p>
                                    <p class="card-text" id="full-desc-@job.Id" style="display:none;">
                                        @job.Description.Text
                                    </p>
                                }
                                else
                                {
                                    <p class="card-text">@job.Description.Text</p>
                                }
                                <div class="d-flex flex-row gap-2 mt-3">
                                <a href="@job.Details.Url" target="_blank"
                                    class="btn btn-info btn-md rounded-pill px-5 mt-3">Apply</a>

                                <form method="post" asp-action="SaveToApplications" asp-route-id="@job.Id">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-secondary btn-md rounded-pill px-5 mt-3">Save to
                                        Applications</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        }
        else
        {
            <p class="text-white">No jobs found matching your criteria.</p>
        }

    </div>
</div>

@section Scripts {}