@model IEnumerable<JobApplicationTracker.Models.JobApplication>

@{
	ViewData["Title"] = "Job Applications";
}

<h1>Job Applications</h1>

<a class="btn btn-primary mb-3" asp-action="Add">+ Add New Application</a>

<div class="container mt-5 align-items-center justify-content-center">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Company</th>
					<th>Title</th>
					<th>Category</th>
					<th>Status</th>
					<th>Type</th>
					<th>Level</th>
					<th>Applied Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var application in Model)
				{
					<tr>
						<td>@application.Company</td>
						<td>@application.JobTitle.Title</td>
						<td>@application.JobCategory.Category</td>
						<td>@application.Status</td>
						<td>@application.Type</td>
						<td>@application.Level</td>
						<td>@application.AppliedDate.ToShortDateString()</td>
						<td>
							<a asp-action="Update" asp-route-id="@application.Id" class="btn btn-sm btn-warning">Edit</a>
                            <form a asp-action="Delete" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this job application?');">
                                <input type="hidden" name="Id" value="@application.Id" />
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
